# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.navmesh-ecs.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\davo8\OneDrive\Desktop\job\navmesh-ecs\.idea\.idea.navmesh-ecs.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
